/* generali */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #14263e;
    font-family: sans-serif;
}

.container {
    margin: 8% 25%;
}

/* titoli */
h1 {
    text-transform: capitalize;
    text-align: center;
    color: #778ca2;
}

h2 {
    text-align: center;
    color: white;
    margin: 10px 0;
}

/* form */
#form-container {
    background-color: white;
    border-radius: 5px;
    padding: 25px;
    min-height: 30vh;
}

form {
    display: flex;
    justify-content: space-between;
}

input {
    width: 80px;
}

.btn {
    padding: 3.5px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}

#send {
    background-color: blue;
}

#reset {
    background-color: gray;
    text-decoration: none;
    font-size: 14px;
}

/* risultato */
#result {
    margin: 50px 20px;
    text-align: center;
    padding: 5px;
    background-color: #b8dfee;
    color: #1f505d;
    border-radius: 5px;
}

.error {
    color: red;
}